/* ==== Mobile Styles ==== */
@media (max-width: 900px) {
    #toggle-button {
      display: block;
      color: #023462;
      z-index: 1100;
    }
    #toggle-button.active {
      color: #e7422d;
      font-weight: bolder;
    }
  }
  
    @media (max-width: 900px) {
      nav ul {
        display: flex;
        flex-direction: column;
        align-items: center; /* <- centrează toate li-urile */
        justify-content: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(1, 48, 94, 0.8);
        width: 100vw;
        height: 30vh;
        margin: 0;
        list-style: none;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
    
      nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    
      nav ul li a {
        display: inline-block; /* sau block */
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 900;
        text-decoration: none;
      }
    
    nav ul.active {
      transform: translateY(0);
      opacity: 1;
    }
  }


 
  /* Responsive */


  @media (max-width: 900px) {
    .about-section {
      height: auto;
    }
  
    .about-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .about-image {
      margin: 1rem 0;
    }
  
    .about-image img {
      display: block; /* elimină spațiile nedorite inline */
    }
    
 
  
    .about-text p {
      font-size: 1rem;
    }
  }
  

  /* Media Queries pentru dispozitive mobile și tabletă */
@media (max-width: 900px) {
  .services-section {
    grid-template-columns: repeat(2, 1fr); /* 2 carduri pe rând pe tabletă */
  }
}

@media (max-width: 600px) {
  .services-section {
    grid-template-columns: 1fr; /* 1 card pe rând pe mobil */
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    row-gap: 2rem;
  }
}