
/*------------------------ iPAD -------------------------*/
@media screen and (min-width: 769px) {
    #toggle-button {
      display: none;
    }
  
    nav {
      display: block;
    }
  
    #ueber-uns h2 {
      color: white;
    }
    #reservierung {
      width: 100%;
      margin: 2rem;
    }
  }
  /*-------------------------------- MOBILE ---------------------------------*/
  @media screen and (max-width: 768px) {

    #logo img{
      margin: 0;
      padding: 0;
      width: 5.5rem;
    }
   
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      position: relative;
    }
  
     nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 54vh;
      padding: 2rem 0;
      gap: 5rem;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      background-color: rgba(57, 55, 55, 0.9);
      z-index: 1000;
      transform: translateY(-100%);
    }
  
    nav ul.active {
      opacity: 1;
      transform: translateY(0);
    }
  
    #toggle-button.active {
      transform: rotate(90deg);
    }
  
    #toggle-button {
      display: inline-block;
      background: none;
      font-size: 2rem;
      border: none;
      color: white;
      transition: transform 0.3s ease;
      z-index: 2000;
    }
  
    #startseite img{
      width: 100%;
    }
    #startseite p {
    margin: 0;
    padding: 2rem 2rem;
  
      line-height: 2rem;
      text-align: center;
    }
  
  
  
    #speisekarte h2 {
      margin: 0;
    }
  
    #ueber-uns {
      margin: 0;
    }
  
    #ueber-uns h2 {
      color: white;
    }
  
    #reservierung {
      width: 100%;
      margin: 2rem;
    }
  }
  